
ul.info-messages {
    width: 80%;
    margin: 60px auto;
    padding: 20px;
    background: #cfc;
}

ul.info-messages li {
    display: block;
    margin: 10px auto;
}

ul.error-messages {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: #fcc;
}

ul.error-messages li {
    display: block;
}
body > .container{
    margin-top: 100px;
}
.navbar-nav:nth-child(2){
    float:right;
}